body {
  overflow-x: hidden;
  background-color: #edffff;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
#navbarSupportedContentLowerNav .nav-item {
  position: relative; /* Aseta sijainti suhteelliseksi */
}
.dropdown-item {
  text-align: center;
  font-size: 13px;
  padding: 0.5vw;
}
.navbar-toggler {
  margin-right: 15px;
}

footer {
  background-color: #ced0d0;
  padding: 20px;
  padding-top: 50px;
  font-size: small;
  color: #052b14;
  padding-left: 50px;
  width: 100%;
  margin-top: 30px;
}
footer i {
  margin-right: 10px;
  margin-left: 10px;
}
footer p {
  margin-bottom: 5px;
}

.img-fluid {
  width: 100% !important;
}

#searchBtn {
  margin-left: 0;
  margin-right: 3vw;
}
#topNav i {
  height: 1vw;
}

#minus-font-button {
  margin-right: 3vw;
  margin-left: 0;
}

#dark-theme-toggle {
  margin-right: 3vw;
}
#topNav button:hover {
  background-color: #85a7a3;
}

a {
  font-size: 16px;
}

h1,
h2 {
  font-size: 20px;
  text-align: center;
  margin: 50px;
  font-weight: bold;
}
h2 {
  font-style: oblique;
}
#languageDrop {
  position: absolute;
  min-width: 60px !important;
  text-align: center;
  z-index: 1;
}

a:active {
  background-color: #495057;
}

#lowerNav {
  background-color: #9accd1;
  height: 4vw;
  min-height: 60px;
}
#spostiform {
  font-size: 12px;
}
#newsletter-email {
  font-size: 12px;
}
.dropdown-menu {
  position: relative; /* Aseta sijainti suhteelliseksi */
}

#lowerNav .nav-link {
  position: relative;
  display: inline-block;
  padding: 0.8vw;
  margin: 0.5vw;
  margin-left: 0.8vw;
  margin-right: 0.8vw;
  transition: all 0.1s ease-in;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: rgb(5, 48, 69);
  box-shadow: 4px 4px 4px 0 rgba(2, 43, 59, 0.2);
  background-color: #acd4d7;
}

#lowerNav .nav-link:hover {
  background-color: #bdf6f0 !important;
  box-shadow: 0 0 5px 5px #ffffff;
}

.dropdown-item:hover {
  background-color: #bdf6f0 !important;
}

.dropdown-item.active {
  background-color: #9c9f9f;
}

#takaisin-btn {
  margin-top: 1rem;
  padding: 1%;
  background-color: #a7bbb9;
  color: black;
}
#takaisin-btn:hover {
  background-color: #a7bbb9 !important;
  box-shadow: 0 0 5px 5px #5fc3d3;
  color: #052b14;
}

.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #bdfafa;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.Lpopup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #bdfafa;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.Dpopup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #bdfafa;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

#etusivu-page {
  .card {
    text-align: center;
    overflow: hidden;
    min-height: 580px;
    max-width: 650px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: center;
  }

  .card-text {
    overflow: hidden;
  }

  .card-title {
    color: #1e2f2d;
    font-weight: bold;
  }

  .card-title {
    font-size: large;
    padding: 20px;
    overflow: hidden;
  }

  .navigation {
    bottom: 5% !important; /* Aseta etäisyys alareunasta */
    position: absolute;
    max-height: 350px;
    max-width: 318.13px;
    left: 10%;
    right: 10%;
    background-color: #1e2f2d;
    overflow: hidden;
    border: #8a9a97 solid 2px;
    padding-bottom: 2%;
    margin: auto;
    margin-top: 2%;
    box-shadow: 0px 20px 20px 0px rgba(11, 103, 111, 0.2);
  }
  .navigation a {
    background-color: #1e2f2d !important;
  }

  .navigation:hover {
    border: 0.4vh solid #405d60 !important; /* Reunaviiva */
    box-shadow: 0 0 10px 5px #5fc3d3;
  }

  .card-img-top {
    max-width: 60%;
    width: auto;
    background-color: #e5f0f2;
    object-fit: cover; /* Säilytä kuvasuhde ja täytä alue */
  }

  .navigation h6 {
    padding-top: 10px;
    color: #e4e8e8;
  }

  #img-background-area {
    top: 25px;
    bottom: 25px;
    object-fit: cover;
  }

  .card-container {
    position: relative;
    z-index: 1;
    padding: 20px;
    background-color: #c6d6d4;
    margin: 2%;
    margin-bottom: 0 !important;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

#newsbtn {
  background-color: #acd7d7 !important;
  color: #052b14;
}

#newsbtn:hover {
  background-color: #a7bbb9 !important;
  box-shadow: 0 0 2px 2px #5fc3d3;
}

#lettersdog {
  overflow: hidden;
  object-fit: cover;
  min-height: 250px;
  min-width: 220px;
}

h5 {
  font-weight: bold;
}

#spostiform {
  width: 250px;
}

#newsletter {
  background-color: #b9cbca;
  margin-bottom: 25px;
  color: #052b14;
  font-size: 18px;
  font-weight: bold;
  min-height: 206px;
  margin: 2%; /* Suhteellinen arvo */
  margin-top: 0 !important;
}

#ajankohtaista-page {
  .card-container {
    position: relative;
    z-index: 1;
    padding: 20px;
    background-color: #c6d6d4;
    margin: 2%;
    margin-bottom: 0 !important;
    justify-content: center;
  }

  h1 {
    margin: 50px;
  }

  .card-subtitle {
    margin: 0;
  }

  .card {
    margin: 2vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    overflow: hidden;
    border-radius: 5px; /* Pyöristetyt reunat */
    border: 0vh solid #6c797d !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .card-body {
    padding: 3rem;
  }
  .card-text {
    margin-bottom: 40px;
  }

  .card-container img {
    max-width: 60%; /* Suhteellinen arvo */
    height: auto; /* Säilytetään kuvasuhde */
    object-fit: cover;
    padding: 5%; /* Suhteellinen arvo */
  }

  h5 {
    color: #1e2f2d;
  }

  .btn-secondary {
    margin-top: 1rem;
    padding: 1.2%;
    background-color: #a7bbb9;
    color: black;
  }
  .btn:hover {
    background-color: #a7bbb9 !important;
    box-shadow: 0 0 5px 5px #5fc3d3;
    color: #052b14;
  }

  .float-right {
    color: rgb(9, 9, 74);
    margin-left: 10px !important;
  }

  hr {
    color: rgb(9, 9, 74);
    stroke: #4a72c4;
  }
}
#tuote-tiedot .card {
  justify-content: center;
  text-align: center;
  margin: auto;
}
#tuotteet-page {
  .container {
    margin: 2%; /* Suhteellinen arvo */
    display: contents;
  }
  h5 {
    padding: 30px;
    text-align: center;
  }
  .card-container .card-link:hover {
    text-decoration: none; /* Poistaa linkin alleviivauksen hover-tilassa */
    border: 0.4vh solid #405d60 !important; /* Reunaviiva */
    box-shadow: 0 0 10px 5px #5fc3d3;
    justify-content: center;
  }
  .card-body {
    justify-content: center;
  }

  .card-link {
    text-align: center;
    overflow: hidden;
    max-height: 450px;
    max-width: 450px;
    margin: 2vw;
    border-radius: 10px; /* Pyöristetyt reunat */
    border: 0.4vh solid #6c797d !important; /* Reunaviiva */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  #tuote-tiedot {
    padding: 3vh;
    overflow: hidden;
    margin: 2%;
    border-radius: 5px; /* Pyöristetyt reunat */
    border: 0.4vh solid #6c797d !important; /* Reunaviiva */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    justify-content: center;
  }

  #tuote-kuva {
    max-height: 600px;
    padding: 2vw;
  }
  #tuote-kuva2 {
    max-width: 50vw;
    height: auto;
    padding: 2vw;
  }

  #tuote-kuvaus {
    text-align: left;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  #tuote-ominaisuudet {
    text-align: left;
    padding: 5vw;
  }

  .card-link p {
    text-align: left;
    margin-top: 7%;
  }

  .card-container {
    padding: 20px;
    margin: 2%;
    background-color: #c6d6d4;
  }

  .card-container .card-link {
    position: relative; /* Varmistaa, että kortit ovat suhteessa taustaan */
    z-index: 1; /* Varmistaa, että kortit ovat päällimmäisenä */
    padding: 0px;
    text-align: center;
    justify-content: center;
    color: inherit; /* Säilyttää alkuperäisen tekstin värin */
    text-decoration: none; /* Poistaa linkin alleviivauksen */
  }

  .btn-group {
    display: flex; /* Aseta flexbox-containeriksi */
    justify-content: center; /* Keskitä sisältö */
  }
  /* Pyöristetyt reunat ja hieman erilainen tausta- ja tekstiväri aktiiviselle painikkeelle */
  .btn-group .btn {
    border-radius: 10px; /* Pyöristetyt reunat */
    border: 0.3vh solid #405d60 !important; /* Reunaviiva */
    background-color: #cbe0de !important; /* Taustaväri */
    color: #495057; /* Tekstiväri */
    margin: 0.6vw;
    min-width: 175px !important;
    max-width: 150px;
    transition: all 0.3s ease-in;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  /* Aktiivinen painike */
  .btn-group .btn.active {
    background-color: #405d60 !important; /* Aktiivisen painikkeen taustaväri */
    color: #fff !important; /* Aktiivisen painikkeen tekstiväri */
    border-color: #5d83ce !important; /* Aktiivisen painikkeen reunaviiva */
  }

  .btn:hover {
    border: 1vh #405d60; /* Reunaviiva */
    background: transparent;
    box-shadow: 0 0 10px 5px #5fc3d3;
  }

  .card-container img {
    max-width: 80%;
    height: auto;
    object-fit: cover;
    padding: 5%;
  }
}

#yritykset-page .container {
  margin: 2%;
  display: contents;
}

#yritykset-page .card-container {
  padding: 20px;
  margin: 2%;
  flex-wrap: wrap;
  text-align: center;
  background-color: #c6d6d4;
}
#yritykset-page img {
  max-width: 90%;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #ddd;
  box-shadow: 0 8px 20px rgba(33, 106, 184, 0.4);
}

#yritykset-page .card {
  text-align: start;
  padding: 5px;
  margin: 20px;
  max-width: 600px;
  background-image: url("photos/Ajankohtaista ja Tuotteet/button-tausta.png");
  border: 1vw solid #f9fafa;
  box-shadow: 0 4px 8px 0 rgba(158, 157, 157, 4);
}
#yritykset-page h5,
h6 {
  margin: 5%;
}

#yritykset-page h1 {
  margin: 50px;
}

#yritykset-page .btn {
  background-size: cover;
  position: relative;
  padding-right: 30px;
  color: #f3f3f3;
  background-color: #18296a;
}

.btn-secondary {
  margin-top: 1rem;
}
#yritykset-page .btn-secondary:hover {
  background-color: #a7bbb9 !important;
  box-shadow: 0 0 5px 5px #5fc3d3;
  color: #052b14;
}

.float-right {
  color: rgb(9, 9, 74);
}
#yritykset-page .btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
}

#taustatoiminta-page .container {
  margin: 2%;
  display: contents;
}

#taustatoiminta-page .card-container {
  padding: 2%;
  margin: 2%;
  background-color: #c6d6d4;
}

#taustatoiminta-page img {
  max-width: 90%;
  overflow: hidden;
  padding: 1vw;
  margin: 2vw;
  object-fit: cover;
  object-position: top;
  box-shadow: 0 4px 10px 0 rgba(33, 106, 184, 0.4); /* Varjostus */
}

#taustatoiminta-page .card {
  text-align: center;
  padding: 2vw; /* Tässä käytetään prosentteja näytön leveydestä */
  margin: 2vw; /* Tässä käytetään prosentteja näytön leveydestä */
  min-height: 405.19px; /* Minimikorkeus pikseleinä */
  box-shadow: 0 0px 10px 0 rgba(33, 106, 184, 0.4); /* Varjostus */
}

#yhteystiedot-page .container {
  display: contents;
}

#yhteystiedot-page {
  background-image: url("photos/Ajankohtaista ja Tuotteet/tausta-kuva3.png");
  overflow: hidden;
  object-fit: cover;
  object-position: top; /* Kuvan yläreuna leikataan pois ja alareuna pysyy näkyvissä */
  background-repeat: no-repeat;
  background-size: cover;
}

#yhteystiedot-page .card-container {
  text-align: center;
  justify-content: center;
}

#yhteydenottolomake {
  text-align: left;
  padding: 2%;
  margin: 2%;
  max-width: 600px;
  background-color: #d7dfde;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Lisätään hieman varjoa */
  transition: box-shadow 0.3s ease; /* Lisätään pehmeä siirtymä varjon muutoksille */
}

#yhteydenottolomake .btn {
  background-color: #acd7d7 !important;
  color: #052b14;
  border-color: #6c797d;
}

#yhteydenottolomake .btn:hover {
  background-color: #a7bbb9 !important;
  box-shadow: 0 0 2px 2px #5fc3d3;
}

#yhteystiedot-page .card {
  text-align: left;
  margin: 2vh; /* Tässä käytetään prosentteja näytön leveydestä */
  min-height: 405.19px; /* Minimikorkeus pikseleinä */
  max-width: 500px;
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Lisätään hieman varjoa */
  transition: box-shadow 0.3s ease; /* Lisätään pehmeä siirtymä varjon muutoksille */
}

#yhteystiedot-page p {
  margin-left: 20px;
}

#yhteystiedot-page h1 {
  margin: 50px;
}

#yhteystiedot-page .row {
  justify-content: center;
}

#map {
  width: 100%;
  height: 100%;
}

@media (max-width: 294px) {
  h1,
  h2 {
    font-size: 12px !important;
    margin-left: 10px;
    margin-right: 10px;
    word-wrap: break-word;
  }
  #newsletter-email {
    width: 180px !important;
  }
}

@media (max-width: 313px) {
  #etusivu-page .card {
    --bs-card-spacer-y: 0re !important;
  }

  #minus-font-button {
    margin-right: 0vw;
    margin-left: 0;
  }

  #dark-theme-toggle {
    margin-right: 0vw;
    margin-left: 0;
  }
  #lettersdog {
    padding: 5px !important;
  }
}

@media (max-width: 360px) {
  #etusivu-page .card-text {
    font-size: 13px !important;
  }
}

@media (max-width: 420px) {
  h5 {
    font-size: 13px !important;
  }
  h1,
  h2 {
    font-size: 12px !important;
    margin: 20px;
  }
}

@media (max-width: 520px) {
  #ajankohtaista-page .float-right {
    margin-left: 10px !important;
  }

  #ajankohtaista-page .card-body {
    margin: 1% !important;
    padding: 4%;
  }
  #ajankohtaista-page h2 {
    margin: 20px;
  }

  #ajankohtaista-page a,
  #lueLisaaNappi,
  #lueLisaaNappi1 {
    font-size: 11px;
  }
}
iframe {
  height: 500px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

@media (max-width: 613px) {
  #searchBox {
    display: none;
  }
  #searchBtn {
    display: none;
  }
}

@media (max-width: 767px) {
  h1,
  h2 {
    font-size: 18px;
  }

  .dropdown-item {
    font-size: 13px !important;
  }

  #newsletter h5 {
    font-size: 13px;
    margin: 0px !important;
    margin-top: 20px !important;

    text-wrap: wrap;
  }
  #spostiform {
    margin: 5px;
    width: 170px;
  }

  #newsbtn {
    margin: 5px;
    margin-right: 15px;
  }

  h2 {
    margin: 30px;
  }

  .btn-group .btn {
    width: auto;
    margin-right: 5px;
  }

  #etusivu-page .card-text {
    margin: 5px;
  }
  #hampurilaisvalikko-nappi {
    background-color: #d7ecef;
    margin: 1vw;
  }

  #hampurilaisvalikko-nappi:hover {
    background-color: #d7ecef;
    border: solid 2px #d7dfde;
  }
  #lowerNav {
    position: relative;
    min-height: 70px;
    z-index: 2;
  }

  #lowerNav .nav-link {
    position: relative;
    display: block;
    padding: 2vh;
    margin: 0;
    font-weight: 700;
    color: rgb(5, 48, 69);
    box-shadow: none;
    border: none;
    transition: none;
  }
  #lowerNav .nav-link:hover {
    transition: none;
    box-shadow: none;
    border: none;
  }
}
@media (max-width: 991px) {
  #ylabanner {
    z-index: -1;
  }
  #banner {
    min-height: 130px;
    object-fit: cover;
    object-position: 15% 25%;
    z-index: -1;
  }

  #newsletter h5 {
    font-size: 16px;
    margin: 0px;
    padding: 5px;
    text-wrap: wrap;
  }

  #spostiform {
    margin-left: 5px !important;
    padding-left: 5px !important;
  }

  #newstext {
    margin: 0;
    padding: 0;
  }

  #spostiform-label {
    font-size: 15px !important;
  }

  .col-lg-4 {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    justify-content: center;
  }

  #newsform {
    display: flex;
    justify-content: center;
  }
  #lettersdog {
    margin: 0 auto;
    height: 100%;
    width: 30%;
    display: block;
    padding-bottom: 30px;
  }

  #sposti {
    margin-left: 0 !important;
  }

  #newsform {
    margin-left: 0 !important;
  }

  #newstext {
    margin: 0 !important;
    padding-bottom: 10px;
  }
}

@media (max-width: 1527px) {
  #newsletter h5 {
    font-size: smaller;
  }
}

@media (min-width: 991px) {
  #ajankohtaista-page .card {
    max-width: 70%;
  }
}
